html,
body {
  font-family: "Open Sans Light", sans-serif;
  width: 460px;
}

label {
  text-align: right;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
}

h2 {
  padding:4px;
  font-size: 1.3em;
}

section {
display: grid;
gap: 1px;
}

#moisAjoute{
grid-column: 1;
}

#anneeAjoute {
grid-column: 2;
}

.ajouterMois{
grid-column: 3;
}

#texte-erreur{
	color: red;
}

.indication{
font-size: 0.8em;
font-style: italic;
padding: 1px;
margin-bottom: 0;
}


